<ion-header>
  <ion-toolbar color="dark">
    
    <ion-title>
      RolMaster
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="8">
                <ion-searchbar (ionInput)="searchMonster($event)"></ion-searchbar>
                <ion-list *ngIf="!searchList.length == 0">
                    <ion-item *ngFor="let i of searchList" (click)="selectFromSearchList(i)">{{ i.name }}</ion-item>
                </ion-list>
                <ion-card class="welcome-card">
                    
                    <ion-img [src]="activeMonster.img"></ion-img>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="11">
                                <ion-card-header>
                                    <ion-card-title>
                                        {{ activeMonster.name }}
                                    </ion-card-title>
                                    {{ activeMonster.size }} {{ activeMonster.type }}<br />
                                    {{ activeMonster.alignment }}<br />
                                    CR: {{ activeMonster.cr }}
                                </ion-card-header>
                            </ion-col>
                            <ion-col size="1">
                                <ion-button class="end" (click)="addMonster(activeMonster)">
                                    <ion-icon name="star"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <b>Armor class: </b> {{ activeMonster.ac }} <br />
                                    <b>Hit Points: </b> {{ activeMonster.hp }}<br />
                                    <b>Speed: </b> {{ activeMonster.speed }}
                                </ion-col> 
                            </ion-row>
                            <ion-row>
                                <ion-col>STR</ion-col>
                                <ion-col>DEX</ion-col>
                                <ion-col>CONS</ion-col>
                                <ion-col>INT</ion-col>
                                <ion-col>WIS</ion-col>
                                <ion-col>CHAR</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>{{ activeMonster.str }}</ion-col>
                                <ion-col>{{ activeMonster.dex }}</ion-col>
                                <ion-col>{{ activeMonster.con }}</ion-col>
                                <ion-col>{{ activeMonster.int }}</ion-col>
                                <ion-col>{{ activeMonster.wis }}</ion-col>
                                <ion-col>{{ activeMonster.cha }}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-list>
                                        <ion-list-header>
                                            <ion-label><h1>Features</h1></ion-label>
                                        </ion-list-header>
                                        <ion-item *ngFor="let feature of activeMonster.features" expandable="true"><div class="rp5"><b>{{ feature.name }}</b></div> {{ feature.desc }}</ion-item>

                                    </ion-list>
                                </ion-col>
                                <ion-col>
                                    <ion-list>
                                        <ion-list-header>
                                            <ion-label><h1>Actions</h1></ion-label>
                                        </ion-list-header>
                                        <ion-item *ngFor="let action of activeMonster.actions" expandable="true"><div class="rp5"><b>{{ action.name }}</b></div> {{ action.desc }}</ion-item>
                                    </ion-list>
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="4">
                <ion-card>
                    <ion-list>
                        <ion-item>
                            <ion-input id="songUploader" type="file" accept="audio/*" (change)="seeSong($event)">

                            </ion-input>
                            
                            <ion-button slot="end" (click)="addSong()">
                                <ion-icon name="add"></ion-icon>
                            </ion-button>
                            
                        </ion-item>
                        <ion-item>
                            <audio id="sound" controls class="block"></audio>
                        </ion-item>
                        <ion-item *ngFor="let song of songs">
                            <ion-icon slot="start" color="medium" name="musical-note"></ion-icon>
                            <ion-label>{{ song }} </ion-label>
                            <ion-button slot="end" color="primary" (click)="playSong(song)">
                                <ion-icon name="play"></ion-icon>
                            </ion-button>
                        </ion-item>
                    
                    </ion-list>
                </ion-card>
                <ion-card *ngIf="storedMonsters.length > 0">
                    <ion-list>
                        <ion-item *ngFor="let monster of storedMonsters">
                            <ion-icon slot="start" color="medium" name="paw"></ion-icon>
                            <ion-label>{{ monster.name }}</ion-label>
                            <ion-button slot="end" color="primary" (click)="setActive(monster)">
                                <ion-icon name="eye"></ion-icon>
                            </ion-button>
                            <ion-button slot="end" color="primary" (click)="removeMonster(monster)">
                                <ion-icon name="close"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </ion-list>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    

</ion-content>
<ion-footer no-shadow>
    <ion-toolbar position="bottom">
        <button ion-button class="tabbutton" *ngFor="let player of players">
            <div class="little top">{{ player.name }}</div>
            {{ player.passivePerception }}
        </button>
        <button ion-button class="tabbutton">
            <ion-icon name="add" (click)="addPlayer()"></ion-icon>
        </button>
    </ion-toolbar>
</ion-footer>